body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

header{
background:#ff4081;
color:white;
padding:20px;
}

.product{
background:white;
margin:10px;
padding:10px;
border-radius:10px;
}

button{
background:#28a745;
color:white;
border:none;
padding:10px;
}
